.upload-form {
  padding: 20px;
  border: solid 1px #ccc;
  border-top: none;
}

.upload-form > .upload-menu {
  display: flex;
  justify-content: space-between;
}

.upload-form > .upload-content {
  margin-top: 20px;
  display: flex;
}

.upload-form > .upload-content > .map-wrapper {
  width: 70%;
  height: 500px;
}

.map {
  width: 100%;
  height: 500px;
}

.upload-form > .upload-content > .search-menu {
  width: 30%;
  border: solid 1px #ccc;
}

.search-bar-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form > .upload-content > .search-menu > .search-bar-wrapper > .upload-search-bar {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  width: 80%;
  border: solid 1px #ccc;
}

.upload-search-bar > i {
  width: auto;
}

.upload-search-bar > input {
  border: none;
  flex: 1;
}

.upload-search-bar > input:focus {
  outline: none;
}

.search-result {
  overflow-y: auto;
}