.upload-form {
  padding: 20px;
  border: solid 1px #ccc;
  border-top: none;
}

.upload-form > div:first-child {
  display: flex;
  justify-content: space-between;
}

.upload-form > div:not(:first-child) {
  margin-top: 20px;
  display: flex;
}

.upload-form > div:not(:first-child) > div:first-child {
  width: 70%;
  height: 500px;
}

.map {
  width: 100%;
  height: 500px;
}

.upload-form > div:not(:first-child) > div:not(:first-child) > div:first-child {
  border: solid 1px #ccc;
}

.upload-form > div:not(:first-child) > div:not(:first-child) > div:first-child > input {
  border: none;
}

.upload-form > div:not(:first-child) > div:not(:first-child) > div:first-child > input:focus {
  outline: none;
}